<template>
  <div id="inscription">
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="lastName"
        :rules="nameRules"
        label="Last Name"
        required
      />
      <v-text-field
        v-model="firstName"
        :rules="nameRules"
        label="First Name"
        required
      />
      <v-text-field
        v-model="pseudo"
        :rules="nameRules"
        label="Pseudo"
        required
      />
      <v-text-field
        v-model="email"
        :rules="emailRules"
        label="E-mail"
        required
      />
      <v-text-field
        v-model="password"
        :rules="passwordRules"
        label="Password"
        required
      />
      <v-text-field
        v-model="passwordCheck"
        :rules="passwordRules"
        label="Password verification"
        required
      />
      <v-checkbox
        v-model="checkbox"
        :rules="[v => !!v || 'You must agree to continue!']"
        label="Do you agree?"
        required
      />

      <v-btn
        :disabled="!valid"
        @click="submit"
      >
        submit
      </v-btn>
      <v-btn @click="clear">clear</v-btn>
    </v-form>
  </div>
</template>
<script>
export default {
  name: 'Inscription',
  data: () => ({
      valid: true,
      lastName: '',
      firstName: '',
      pseudo: '',
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 10) || 'Name must be less than 10 characters'
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      password: '',
      passwordCheck: '',
      passwordRules: [
        v => !!v || 'Name is required',
        v => (v && v.length >= 8) || 'Name must be more than 8 characters'
      ],
      checkbox: false
    }),

    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          if (this.password === this.passwordCheck) {
          this.$axios.post('http://127.0.0.1:3000/api/v1/users', {
            pseudo: this.pseudo,
            password: this.password,
            email: this.email,
            first_name: this.firstName,
            last_name: this.lastName
          }).then(response => {
            console.log(response)
          }).catch((error) => {
            console.error(error)
          })
        } else {
          console.log('bad password')
        }
          console.log('axios request send test')
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
}
</script>
