<template>
  <div id="articlePreview">
    <div>
      <h3> Title: </h3>{{ title }}
    </div>
    <div>
      <h3>Tags: </h3>
      <span v-for="value in tag" :key="value">{{ value }} </span>
    </div>
    <h3>Article : </h3>
    <div v-html="article">
      {{ article }}
    </div>
    <v-radio-group v-model="radios" :mandatory="false">
      <v-container>
        <v-layout>
          <v-flex md=6>
            <v-radio label="Sauvegarder temporairement l'article" value="false" />
          </v-flex>
          <v-flex md=6>
            <v-radio label="Valider l'article" value="true" />
          </v-flex>
        </v-layout>
      </v-container>
    </v-radio-group>
    <v-btn @click="submit()" color="success">Valider</v-btn>
    <v-btn @click="backtoCreation()" color="info">Back to the editor</v-btn>
  </div>
</template>

<script>
export default {
  name: 'ArticlePreview',
  props: {
    'article': {
      type: String,
      required: true
    },
    'title': {
      type: String,
      required: true
    },
    'tag': {
      type: Array,
      required: true
    },
    'id': {
      type: String,
      required: false,
      default: ''
    }
  },
  data: () => ({
    radios: 'false'
  }),
  methods: {
    submit () {
      if (this.article && this.id === '') {
        this.$axios.post('http://127.0.0.1:3000/api/v1/article/create', {
          article: this.article,
          title: this.title,
          tag: this.tag,
          isFinish: this.radios,
          pseudo: this.$store.getters.getPseudo,
          token: this.$store.getters.getToken
        }).then(response => {
          if (response.data) {
            console.log(response.data)
          } else {
            console.log('error')
          }
        }).catch(err => {
          console.error(err)
        })
      } else if (this.article) {
        console.log('test else if')
        this.$axios.post('http://127.0.0.1:3000/api/v1/article/modification', {
          article: this.article,
          title: this.title,
          tag: this.tag,
          isFinish: this.radios,
          pseudo: this.$store.getters.getPseudo,
          token: this.$store.getters.getToken,
          id: this.id
        }).then(response => {
          if (response.data) {
            console.log(response.data)
          } else {
            console.log('error')
          }
        }).catch(err => {
          console.error(err)
        })
      }
    },
    backtoCreation () {
      console.log('lets back')
      console.log(this.$parent.preview)
      this.$parent.preview = false
    }
  }
}
</script>
