<template>
  <div id="ArticleCard">

    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 v-if="isAdmin === true" class="display-1">{{ article.title }}
            <v-chip v-if="article.isFinish === true" label id="statuArticle" color="green" text-color="white">
              <v-icon size="20px" left color="green darken-4">check_circle</v-icon>
              Finish
            </v-chip>
            <v-chip v-else label id="statuArticle" color="orange lighten-1" text-color="white">
              <v-icon size="20px" left>create</v-icon>
              In Progress
            </v-chip>
            <v-btn right @click="loadArticleManagement()">Manage</v-btn>
          </h3>
          <h3 v-else class="display-1">
            {{ article.title }}
          </h3>
        </div>
      </v-card-title>
      <v-card-text>
        <div v-if="true">
          <v-btn @click="loadArticle" >Voir l'article</v-btn>
        </div>
        <div class="grey--text">
          Article posté le {{ this.date.day }} {{ this.date.month }} {{ this.date.year }}
        </div>
        <v-chip v-for="label in article.tag" label small color="blue" text-color="white" :key="label">
          <v-icon left>label</v-icon>{{ label }}
        </v-chip>
      </v-card-text>

    </v-card>
  </div>
</template>

<script>
export default {
  name: 'ArticleCard',
  props: {
    'article': {
      type: Object,
      required: true
    },
    'isAdmin': {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data: () => ({
    date: {
      day: '',
      month: '',
      year: ''
    }
  }),
  mounted () {
    this.date.day = this.article.date.slice(8, 10)
    this.date.year = this.article.date.slice(0, 4)
    switch (this.article.date.slice(5, 7)) {
      case '01':
        this.date.month = 'Janvier'
        break
      case '02':
        this.date.month = 'Février'
        break
      case '03':
        this.date.month = 'Mars'
        break
      case '04':
        this.date.month = 'Avril'
        break
      case '05':
        this.date.month = 'Mai'
        break
      case '06':
        this.date.month = 'Juin'
        break
      case '07':
        this.date.month = 'Juillet'
        break
      case '08':
        this.date.month = 'Août'
        break
      case '09':
        this.date.month = 'Septembre'
        break
      case '10':
        this.date.month = 'Octobre'
        break
      case '11':
        this.date.month = 'Novembre'
        break
      case '12':
        this.date.month = 'Décembre'
        break
      default:
        this.date.month = 'undefined'
    }
  },
  methods: {
    loadArticleManagement () {
      console.log('loading article')
      this.$parent._data.modification = 'true'
      this.$parent._data.article = this.article
    },
    loadArticle () {
      console.log('loading article')
      this.$parent._data.modification = 'true'
      this.$parent._data.article = this.article
    }
  }
}
</script>
