<template>
  <div id="article">
    <v-layout row wrap>
      <v-flex xs12>
        <h2>{{ article.title }}</h2>
        <v-chip v-for="item in article.tag" label small color="blue" text-color="white" :key="item">
          <v-icon left>label</v-icon>{{ item }}
        </v-chip>
      </v-flex>
      <v-flex xs12>
        <span class="grey--text">
          Article posté le {{ this.date.day }} {{ this.date.month }} {{ this.date.year }}
        </span>
      </v-flex>
      <v-flex xs12 v-html="article.article">
        {{ article.article }}
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  props: {
    article: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    tag:['test', 'test2', 'test3', 'test4'],
    date: {
      day: '',
      month: '',
      year: ''
    }
  }),
  mounted () {
    this.date.day = this.article.date.slice(8, 10)
    this.date.year = this.article.date.slice(0, 4)
    switch (this.article.date.slice(5, 7)) {
      case '01':
        this.date.month = 'Janvier'
        break
      case '02':
        this.date.month = 'Février'
        break
      case '03':
        this.date.month = 'Mars'
        break
      case '04':
        this.date.month = 'Avril'
        break
      case '05':
        this.date.month = 'Mai'
        break
      case '06':
        this.date.month = 'Juin'
        break
      case '07':
        this.date.month = 'Juillet'
        break
      case '08':
        this.date.month = 'Août'
        break
      case '09':
        this.date.month = 'Septembre'
        break
      case '10':
        this.date.month = 'Octobre'
        break
      case '11':
        this.date.month = 'Novembre'
        break
      case '12':
        this.date.month = 'Décembre'
        break
      default:
        this.date.month = 'undefined'
    }
  }
}
</script>
