<template>
  <div id="articleList">
    <v-container grid-list-md >
      <v-layout row wrap v-if="!this.modification">
        <v-flex xs12 v-for="article in articleList" :key="article._id">
          <div class="cardArticle">
            <ArticleCard :article="article" />
          </div>
        </v-flex>
      </v-layout>

      <v-layout row wrap v-else>
        <v-flex xs12>
          <Article :article="article" />
        </v-flex>
        <v-flex xs12 class="text-xs-center">
          <v-btn @click="backToList()" color="blue" text-color="white">Retour à la liste des articles</v-btn>
        </v-flex>
      </v-layout>

    </v-container>
  </div>
</template>

<script>
import Article from './article'
import ArticleCard from './articleCard'
export default {
  components: {
    Article,
    ArticleCard
  },
  data: () => ({
    articleList: [],
    article: '',
    modification: false
  }),
  mounted () {
    this.$axios.post('http://127.0.0.1:3000/api/v1/article/all', {
    }).then(response => {
      response.data.forEach(e => {
        this.articleList.push(e)
      })
    }).catch(err => {
      console.error(err)
    })
  },
  methods: {
    backToList () {
      this.article = ''
      this.modification = false
    }
  }
}
</script>
