<template>
  <v-layout
    column
    justify-center
    align-center>
    <v-flex xs12 sm8 md6>
      <h1>This website is in building</h1>

      <p class="text-xs-center">
        Dont worry, it will be finish soon.
      </p>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
}
</script>
