<template>
  <div id="technicalsheetCard">
    <v-container>
      <v-layout row wrap v-if="isAdmin === true">
        <v-flex xs12>
          <v-card>
            <v-card-title primary-title>
              <div>
                <h3 class="display-1">{{ technicalsheet.name }}
                  <v-chip v-if="technicalsheet.isFinish === true" label color="green" text-color="white">
                    <v-icon size="20px" left color="green darken-4">check_circle</v-icon>
                    Finish
                  </v-chip>
                  <v-chip v-else label color="orange lighten-1" text-color="white">
                    <v-icon size="20px" left>create</v-icon>
                    In Progress
                  </v-chip>
                  <v-btn right @click="loadTechnicalsheet()">Manage</v-btn>
                </h3>
              </div>
            </v-card-title>
            <v-card-text>
              <div class="grey--text">
                Fiche technique posté le {{ this.date.day }} {{ this.date.month }} {{ this.date.year }}
              </div>
            </v-card-text>

          </v-card>
        </v-flex>
      </v-layout>

      <v-layout row wrap v-else>
        <v-flex xs12>
          <v-card color="blue">
            <v-card-title primary-title>
              <h3 class="display-1">
                {{ technicalsheet.name }}
              </h3>
              <v-btn small fab color="transparent" absolute right @click="loadTechnicalsheet()">
                <v-icon>zoom_out_map</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text>
              Fiche technique posté le {{ this.date.day }} {{ this.date.month }} {{ this.date.year }}
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    technicalsheet: {
      type: Object,
      required: true
    },
    isAdmin: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data: () => ({
    date: {
      day: '',
      month: '',
      year: ''
    }
  }),
  mounted () {
    this.date.day = this.technicalsheet.date.slice(8, 10)
    this.date.year = this.technicalsheet.date.slice(0, 4)
    switch (this.technicalsheet.date.slice(5, 7)) {
      case '01':
        this.date.month = 'Janvier'
        break
      case '02':
        this.date.month = 'Février'
        break
      case '03':
        this.date.month = 'Mars'
        break
      case '04':
        this.date.month = 'Avril'
        break
      case '05':
        this.date.month = 'Mai'
        break
      case '06':
        this.date.month = 'Juin'
        break
      case '07':
        this.date.month = 'Juillet'
        break
      case '08':
        this.date.month = 'Août'
        break
      case '09':
        this.date.month = 'Septembre'
        break
      case '10':
        this.date.month = 'Octobre'
        break
      case '11':
        this.date.month = 'Novembre'
        break
      case '12':
        this.date.month = 'Décembre'
        break
      default:
        this.date.month = 'undefined'
    }
  },
  methods: {
    loadTechnicalsheet () {
      console.log('loading the technicalsheet')
      this.$parent._data.modification = true
      this.$parent._data.technicalSheet = this.technicalsheet
    }
  }
}
</script>
