<template>
  <div id="technicalsheetList">
    <v-container grid-list-md v-if="!this.modification">
      <v-layout row wrap>
        <v-flex xs12 md6 lg3 v-for="technicalsheet in technicalSheetList" :key="technicalsheet._id">
          <div class="cardArticle">
            <TechnicalsheetCard :technicalsheet="technicalsheet"/>
          </div>

        </v-flex>

      </v-layout>
    </v-container>
    <v-container grid-list-md v-else>
      <v-layout row wrap>
        <v-flex xs12>
          test
        </v-flex>
        <v-flex xs12 class="text-xs-center">
          <v-btn @click="returnToList()" color="blue" text-color="white">Retourner à la liste des fiches techniques </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import TechnicalsheetCard from './technicalsheetCard'
export default {
  components: {
    TechnicalsheetCard,
  },
  data: () => ({
    technicalSheetList: [],
    technicalSheet: '',
    modification: false
  }),
  mounted () {
    this.$axios.post('http://127.0.0.1:3000/api/v1/technicalsheet/getfinish', {
    }).then(response => {
      response.data.forEach(e => {
        this.technicalSheetList.push(e)
      })
    }).catch(err => {
      console.error(err)
    })
  },
  methods: {
    returnToList () {
      this.modification = false
      this.technicalSheet = ''
    },
    showTS (technicalsheet) {
      this.technicalSheet = technicalsheet
      this.modification = true
      console.log(this.technicalSheet.effects.physic.name)
    }
  }
}
</script>
