<template>
  <div id="technicalsheetListAdmin">
    <v-container grid-list-md v-if="!this.modification">
      <v-layout row wrap>
        <v-flex xs12 v-for="technicalsheet in technicalSheetList" :key="technicalsheet._id">
          <div class="cardArticle">
            <TechnicalsheetCard :technicalsheet="technicalsheet" :is-admin="true" />
          </div>

        </v-flex>

      </v-layout>
    </v-container>
    <v-container grid-list-md v-else>
      <v-layout row wrap>
        <v-flex xs12>
          <TechnicalsheetModification :tsobject="this.technicalSheet" />
          <v-btn @click="returnToList()">Retour à la liste des fiches techniques</v-btn>
          <br>

        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import TechnicalsheetCard from './technicalsheetCard'
import TechnicalsheetModification from './technicalsheetModification'
export default {
  components: {
    TechnicalsheetCard,
    TechnicalsheetModification
  },
  data: () => ({
    technicalSheetList: [],
    technicalSheet: '',
    modification: false
  }),
  mounted () {
    this.$axios.post('http://127.0.0.1:3000/api/v1/technicalsheet/alladmin', {
      pseudo: this.$store.getters.getPseudo,
      token: this.$store.getters.getToken
    }).then(response => {
      response.data.forEach(e => {
        this.technicalSheetList.push(e)
      })
    }).catch(err => {
      console.error(err)
    })
  },
  methods: {
    returnToList () {
      this.modification = false
      this.technicalSheet = ''
    },
    showTS (technicalsheet) {
      this.technicalSheet = technicalsheet
      this.modification = true
      console.log(this.technicalSheet.effects.physic.name)
    }
  }
}
</script>
